html {
    color-scheme: light;
    --default-bg-color: #d6d6d6;
    --highlight-color: #F3722C;    
    --footer-bg-color: #1234BB;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --default-bg-color: #696969;
    --highlight-color: pink;
    --footer-bg-color: #303099;
  }
}

html {
    writing-mode: horizontal-tb;
    accent-color: var(--highlight-color);
    --default-text-color: white;
    --header-bg-color: #333;
    --dropzone-bg-color: #f6f6f6;
    --dropzone-border-color: green;
    --dragging-border-color: red;
    --collapsible-bg-color: #AAA;
    --collapsible-hover-bg-color: #666;
    --collapsible-content-bg-color: #2b5797;
    --add-text-button-color: #EEB442;
    --add-logo-sign-button-color: #F3722C;
    --pixelate-options-button-bg-color: #EE425F;
    --download-button-bg-color: #BC6FB9;     /* #3BC78F; #303099; #146EB4; #4BAC85*/
    --soon-pro-future-button-bg-color: #4CAF50;
    --pro-inner-buttons-bg-color: #37D09D;
    --upscale-button-bg-color: orange;
    --crazy-upscale-button-bg-color: #EE425F;
    --surprise-button-bg-color: #AA33DD;
    --default-pro-text-color: #818589;
}

body {
    margin: 0 var(--metric-box-spacing);
    padding: 0 var(--metric-box-spacing);
    font-family: sans-serif;
    min-height: 100vh;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    font-size: clamp(0.8rem, 0.75rem + 1.5vw, 2.2rem);
    font-family: "Brush Script MT", Georgia, Tahoma, sans-serif, Verdana, Arial;
}

header, footer {
    position: fixed;
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: var(--default-text-color);
}

header {
    top: 0;
    height: 140px;
    max-height: 180px;
    background-color: var(--header-bg-color);
}

footer {
    bottom: 0;
    block-size: 100px;
    max-height: 140px;
    text-align: center;
    font-size: calc(0.6rem + 1vw);
    background-color: var(--footer-bg-color);
}

main h1 {
    margin-bottom: 10px;
}

main h3 {
    color: var(--add-logo-sign-button-color);
}

main h5 {
    margin: 0;
    color: orange;
}

.header-content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.ailoveu-logo {
    width: 48;
    height: 48;
    max-width: 80px;
    margin-inline-start: 0.5rem;
    flex-basis: 15%;
}

.header-content h1 {
    margin: 0;
    text-align: center;
    flex-basis: 70%;
}

h4{
    width: 200px;
    margin: auto;
    margin-block-start: 0.8rem;
    text-align: center;
}

.buy-me-coffee-button-div {
    text-align: center;
    margin-inline-end: 1rem;
    padding: 0.1rem;
    flex-basis: 15%;
}

.buy-me-coffee-button-div a {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: clamp(0.7rem, 0.5rem + 0.7vw, 1.2rem);
    color: var(--default-text-color);
    text-decoration: underline overline var(--add-logo-sign-button-color);
}

.buy-me-coffee-button-div a:hover {
    color: var(--add-logo-sign-button-color);
    text-decoration: underline overline var(--default-text-color);
}

.hag-face-icon {
    width: 24;
    height: 24;
    max-width: 80px;
    margin-inline-start: 0.2rem;
    margin-inline-end: 0.2rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.1rem;
}

main {
  overflow-y: auto;
  padding: 1rem;
  direction: rtl;
}

#header-spacer {
    display: block;
    height: 140px;
}

#footer-spacer {
    display: block;
    height: 80px;
}

.social-links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-block-end: 3px;
}

@media (min-width: 1024px) {
    footer {
        block-size: 120px;
    }
    .social-links {
        padding-block-start: 0px;
        padding-block-end: 6px;
    }
}

@media (max-width: 1024px) {
    .social-links {
        padding-block-start: 3px;
    }
}

@media (max-width: 660px) {
    .social-links {
        padding-block-start: 6px;
    }
}

@media (max-width: 400px) {
    .social-links {
        padding-block-start: 8px;
    }
}

.social-links.a.img {
    width: 48;
    height: 48;
    max-width: 60px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

button {
    inline-size: auto;
    padding: 10px;
    max-width: 300px;
    cursor: pointer;
    color: var(--default-text-color);
    border-radius: 6px;
    /* border: 1px solid var(--header-bg-color); */
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Brush Script MT", Georgia, Tahoma, sans-serif, Verdana, Arial;
    /* margin-inline-start: 10px; */
    opacity: 1;
}

button:hover {
    opacity: 0.7;
}

/* MEDIA QUERIES for very small screens */
@media (max-width: 768px) {
    .social-links {
        gap: 1rem;
    }
    
    button {
        padding: 6px;
        font-size: 1rem;
        font-weight: 550;
    }
}
